<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YWT_mysql.My.MySettings.ywtConnectionString_rc" connectionString="server=cdb-p5vy6bjc.bj.tencentcdb.com;user id=root;port=10023;database=ywt;persistsecurityinfo=True;password=syhywt123;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration> 